.filters-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .search-input {
    width: 300px;
    margin: 0 10px;
  }
}

.sorters-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-bottom: 30px;
}
